.input_wrapper{
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0px;


	width: 141px;
	height: 24px;
}
.box{
	width: 20px;
	height: 20px;
}
.placeHolder{
	width: 102px;
	height: 21px;

	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 21px;

	color: #7E86A5;
	text-transform: capitalize;
	margin-left: 10px;



}
