.wrapper{
    width: 100%;
    max-height: 100%;
    border: 1px solid #EEF0F6;
    box-shadow: 1px 3px 9px rgba(82, 118, 244, 0.08);
    border-radius: 16px;
}
.table{
    width: 100%;

    background: #FFFFFF;
    /* Monochrome/Dark 05 */


    border-radius: 16px;
    overflow: hidden;

}
.header{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;

    text-transform: uppercase;

    color: #4B4D72;
    height: 64px;


}
.header th{
    text-align:left;
    vertical-align: middle;
    align-items: center;
    align-content: center;
}
.header th:first-child{
    padding-left: 32px;
}
.content td{
    height: 48px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */


    /* Monochrome/Dark 01 */

    color: #4B4D72;
    border-top: 1px solid #EEF0F6;
}
.content td{
    vertical-align: middle;
}
.content td:first-child{
    padding-left: 32px;
}
.action{
    text-decoration-line: underline;

    color: #9AA4CB;
    cursor: pointer;
}
